<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="text-center my-5">
      <h1><span> New Post </span></h1>

      <%= render "form"%>
    </div>  
  </div>    
</div>  