<!-- Responsive navbar-->
  <section>
  <header>
    <%= link_to "INSTAGRAM", root_path, class:"logo"%>
      <ul>
        <li><%= link_to "About",   root_path,                     class: "nav-item, nav-link" %></li>
        <li><%= link_to "Sign In", new_account_registration_path, class: "nav-item, nav-link" %></li>
        <li><%= link_to "Log In",  new_account_session_path,      class: "nav-item, nav-link" %></li>
      </ul> 
    </header>
  </section>
