<div class="container mt-3">
  <%= render "user_data"%>
</div>

<% if @account.posts.count > 0 %>
  <div class="container mt-5">
    <div class="img">
      <div class="row row-cols-3 gy-4">
        <% @account.posts.each do |post| %>
          <%= link_to post_path(post)  do %>
            <%= image_tag post.image, width: "350px", class: "rounded mx-auto d-block imgProfile" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% elsif @account.posts.count < 1 and !can_edit_profile?(@account.id) %>
  <div class="col d-flex justify-content-center pb-3">
    <h4> This user has not published any posts yet </h4>
  </div>
<% else %>
  <div class="col d-flex justify-content-center pb-3">
    <%= link_to "Create my first post!", new_post_path, class: "btn btn-primary btn-lg px-4 me-sm-3 center" if can_edit_profile?(@account.id) %>
  </div>
<% end %>
