<div class="container mt-3">
  <%= render "user_data"%>
</div>

<% if @account.posts.count > 0 %>
  <div class="container mt-2">
    <div class="img">
      <div class="row row-cols-3">
        <% @account.posts.each do |post| %>
          <%= image_tag post.image, width: "350px", class: "rounded mx-auto d-block" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="col d-flex justify-content-center pb-3">
    <%= link_to "Create my first post!", new_post_path, class: "btn btn-primary btn-lg px-4 me-sm-3 center" %>
  </div>
<% end %>
